networks:
  mynetworkapi:

volumes:
  postgres_data:

services:
  postgres:
      image: postgres:16
      container_name: postgres-docker
      environment:
        POSTGRES_DB: FarmaciaDB
        POSTGRES_USER: postgres
        POSTGRES_PASSWORD: root
      ports:
        - "5432:5432"
      volumes:
        - postgres_data:/var/lib/postgresql/data
      networks:
        - mynetworkapi
      healthcheck:
        test: ["CMD-SHELL", "pg_isready -U postgres -d FarmaciaDB"]
        interval: 5s
        timeout: 5s
        retries: 10

  farmaciaverifarmachallenge.api:
    image: ${DOCKER_REGISTRY-}farmaciaverifarmachallengeapi
    build:
        context: .
        dockerfile: FarmaciaVerifarmaChallenge.API/Dockerfile
    networks:
        - mynetworkapi
    depends_on:
      postgres:
        condition: service_healthy
    ports:
        - 8080:8080
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      ConnectionStrings__DefaultConnection: >
        Host=farmacia-postgres-dev.cp68is4q6aax.us-east-2.rds.amazonaws.com;
        Port=5432;
        Database=postgres;
        Username=postgres;
        Password=postgres123;
        SSL Mode=Require;
        Trust Server Certificate=true;
